.navbar{
	margin-bottom:0px;
	border-radius:0px;
}
.navbar-default{
	background-color:#bbb;
	border-color:#aaa;
	box-shadow: 0px 3px 5px #888;
}
.image{
	padding:4px !important;
}
.navbar-default .navbar-nav>li>a{
	color:#005f9f;
	font-weight:bold;
}
.navbar a:hover{
	cursor:pointer;
}
div.user{
	padding:5px 10px;
	border-radius:5px;
	background-color:white;
} 
a.link{
	padding:10px 15px !important;
}
.ayuda{
	font-weight:bold !important;
	color:#005f9f !important;
}
.log-in-menu{
	margin-left:7.5px;
	margin-right:7.5px;
}
.input-log-in-menu{
	margin-bottom:5px;
	border:2px solid #F57917;
	border-radius:5px;
	background-color:#F57917;
	color: white;
}
.panel-menu{
	margin-top:60px;
}
.panel-menu .boton{
	border:3px solid #337ab7;
	border-radius:25px;
	margin: 0 0 10px;
	text-align:center;
	background-color:#337ab7;
	color:white;
	padding:10px;
}
.panel-menu .boton:hover{
	background-color:white;
	color:#337ab7;
}
.boton a table{
	margin:0pxS;
	border-collapse:collapse !important;
	border:0px solid transparent !important;
}
.boton{
	width:100%;
	height:100%;
	text-decoration:none;
	color:inherit;
}

.navbar-info{
	background-color:#00559F;
	border-color:#1166AF;
}

.navbar-info>div>div>button,
.navbar-info>div>div>button>span,
.navbar-info>div>div>ul>li>a{
	color:white;
}

.navbar-curve{
	border-radius:15px;
}

.msj-error{
	padding:5px;
	border-radius:5px;
}

a.boton>table>tbody>tr>td{
	border:0px;
}

.control-sesion{
	margin-left:7.5px;
	margin-right:7.5px;
	margin-bottom:5px;
}

/*  nuevo estilo */
.nav > li > a:focus, .nav > li > a:hover {
   color:#0052a3;
font-family: "Roboto",Arial;
font-size: 14px;
}
.nav .open > a{color:#0052a3;
font-family: "Roboto",Arial;
font-size: 14px;}

.red{background: #d9534f !important;color: white;}
.naranja{background: #f0ad4e !important;color: white;}
.boxgris{box-shadow: 0 0 5px #ccc!important;padding: 10px;
border-radius: 5px;width: 100%;}
.orange_menu{color: rgb(245,121,23);}
.navbar-info.orange_menu {
    background-color: rgb(245,121,23);
    border-color: rgb(245,121,23);
}
.orange_menu a.dropdown-toggle{font-weight: bold;}
.orange_menu .label-info {background-color: rgba(237, 65, 44, 0.88) !important;}

/*saber que se desarrolla*/
.develop{background-color: #9fcaf0;}
.develop a{color:#ffffff;}
/*alerta*/
.obliga{color: rgb(245,121,23);
font-size: 21px;}
.redtext{background-color: transparent !important;
color: #f02f0f;
/*font-weight: bold;*/
display: none;}

.panel-heading.tab-headings{padding-bottom: 0px;border-bottom:0px;
margin-bottom: 0px;}
.cir_red{background-color:#f02f0f;}
.cir_green{background-color:#0EF068;}
/*  nuevo estilo */
